apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-demo-deployment
  namespace: spring-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-demo
  template:
    metadata:
      labels:
        app: spring-demo
    spec:
      containers:
        - name: spring-demo
          image: spring-k8s-demo:1.2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: APPLICATION_MODE
              valueFrom:
                configMapKeyRef:
                  name: spring-demo-config
                  key: APPLICATION_MODE
            - name: DB_PASSWORD
              valueFrom:
                  secretKeyRef:
                    name: spring-demo-secret
                    key: DB_PASSWORD
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 200m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10