apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: spring-demo-hpa
  namespace: spring-demo
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: spring-demo-deployment
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50